@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


:root{
    --soft-red : hsl(10, 79%, 65%);
    --cyan : hsl(186, 34%, 60%);
    --dark-brown : hsl(25, 47%, 15%);
    --medium-brown :  hsl(28, 10%, 53%);
    --cream :  hsl(27, 66%, 92%);
    --very-pale-orange : hsl(33, 100%, 98%);
    --bar-width : 2.5rem;
    --font-family : 'DM Sans' , sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--cream);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.logo{
    max-width: 75%;
    max-height: 90%;
}
.balance{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--soft-red);
    min-width: 25%;
    height: 10vh;
    min-height: 12%;
    border-radius: 15px;
}
.balance_wallet{
    font-weight: 700;
    font-size: 24px;
}

p{
    color: #FFFFFF;
    font-family: var(--font-family);
    font-size: 18px;
}

.spending{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 15px;
    min-width: 25%;
    min-height: 12%;
    background-color: white;
}
.spending:first-of-type{
    row-gap: 1.5rem;
}
.total_month{
    background-color: white;
}

h3{
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--dark-brown);
    font-size: 24px;
}

.container{
    box-sizing: border-box;
    height: min-content;
    min-width: 60%;
}

.week_days{
    margin-top: 6px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    color: var(--medium-brown);
    width: 100%;
    
}


.bars{
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-end;
    height: 70%;
    width: 100%;
}
.bar{
    background-color: var(--soft-red);
    cursor: pointer;
    transition: 0.5s;
    font-family: var(--font-family);
    border-radius: 5px;
}
.bar:hover{
    background-color: var(--cyan);
}


#monday{

 position: relative;
 height: 2.5rem;
 width: var(--bar-width);

}
#monday:hover::before{
    transition: 0.5s;
    position: absolute;
    content: "$17.45";
    top: -30px;
    left: -3px;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 4px;
    background-color: var(--dark-brown);
    color: white;
}

#tuesday{
    height: 5rem;
    width: var(--bar-width);
    
}
#tuesday:hover::before{
    position: absolute;
    content: "$34.91";
    width: fit-content;
    top: 250px;
    left: 805px;
    padding: 0.2rem;
    border-radius: 4px;
    background-color: var(--dark-brown);
    color: white;
}
#wednesday{
    height: 7rem;
    width: var(--bar-width);
    
}
#wednesday:hover::before{
    position: absolute;
    content: "$52.36";
    width: fit-content;
    top: 215px;
    left: 863px;
    padding: 0.2rem;
    border-radius: 4px;
    background-color: var(--dark-brown);
    color: white;
}
#thursday{
    height: 4.5rem;
    width: var(--bar-width);
    
}
#thursday:hover::before{
    position: absolute;
    content: "$31.07";
    width: fit-content;
    top: 255px;
    left: 926px;
    padding: 0.2rem;
    border-radius: 4px;
    background-color: var(--dark-brown);
    color: white;
}
#friday{
    height: 3.9rem;
    width: var(--bar-width);
    
}
#friday:hover::before{
    position: absolute;
    content: "$23.39";
    width: fit-content;
    top: 265px;
    left: 985px;
    padding: 0.2rem;
    border-radius: 4px;
    background-color: var(--dark-brown);
    color: white;
}
#saturday{
    height: 6rem;
    width: var(--bar-width);
    
}
#saturday:hover::before{
    position: absolute;
    content: "$43.28";
    width: fit-content;
    top: 230px;
    left: 1050px;
    padding: 0.2rem;
    border-radius: 4px;
    background-color: var(--dark-brown);
    color: white;
}
#sunday{
    height: 4.2rem;
    width: var(--bar-width);
       
}
#sunday:hover::before{
    position: absolute;
    content: "$25.48";
    width: fit-content;
    top: 255px;
    left: 1105px;
    padding: 0.2rem;
    border-radius: 4px;
    background-color: var(--dark-brown);
    color: white;
}


#line{
    background-color : red;
}

.total{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.total_history{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.total_month{
    margin-top: 1rem;
}
.total_text{
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--medium-brown);
}
.total_month-value{
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-family);
    color: var(--dark-brown);
}
.total_history-percentage{
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--dark-brown);
}

.line{
    border-top: 1px solid var(--cream);
}