@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


:root{
    --soft-red : hsl(10, 79%, 65%);
    --cyan : hsl(186, 34%, 60%);
    --dark-brown : hsl(25, 47%, 15%);
    --medium-brown :  hsl(28, 10%, 53%);
    --cream :  hsl(27, 66%, 92%);
    --very-pale-orange : hsl(33, 100%, 98%);
    --bar-width : 2.5rem;
    --font-family : 'DM Sans' , sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--cream);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.logo{
    max-width: 75%;
    max-height: 90%;
}
.balance{
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--soft-red);
    min-width: 25%;
    height: 10vh;
    min-height: 12%;
    border-radius: 15px;
}
.balance_wallet{
    font-weight: 700;
    font-size: 24px;
}

p{
    color: #FFFFFF;
    font-family: var(--font-family);
    font-size: 18px;
}

.spending{
    box-sizing: border-box;
    padding: 1.5rem;
    border-radius: 15px;
    min-width: 25%;
    height: 52vh;
    min-height: 12%;
    background-color: white;
}
.total_month{
    background-color: white;
}

h3{
    font-weight: bold;
    font-family: var(--font-family);
    color: var(--dark-brown);
    font-size: 24px;
}

.container{
    box-sizing: border-box;
    display: flex;
    height: 30vh;
    min-width: 60%;
    flex-direction: column;
}

.week_days{
    margin-top: 6px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    color: var(--medium-brown);
    width: 100%;
    
}


.bars{
    margin-left: 0.12rem;
    text-align: center;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-end;
    height: 70%;
    width: 100%;
}
.bar{
    background-color: var(--soft-red);
}
.bar:hover{
    background-color: var(--cyan);
}


#monday{
 height: 2.5rem;
 width: var(--bar-width);
 border-radius: 10px;
 
}

#tuesday{
    height: 3rem;
    width: var(--bar-width);
    border-radius: 7px;
}
#wednesday{
    height: 3.5rem;
    width: var(--bar-width);
    border-radius: 7px;
}
#thursday{
    height: 2.8rem;
    width: var(--bar-width);
    border-radius: 7px;
}
#friday{
    height: 2.4rem;
    width: var(--bar-width);
    border-radius: 7px;
}
#saturday{
    height: 3.2rem;
    width: var(--bar-width);
    border-radius: 7px;
}
#sunday{
    height: 2.5rem;
    width: var(--bar-width);
    border-radius: 7px;   
}


#line{
    background-color : red;
}

.total{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.total_history{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.total_text{
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--medium-brown);
}
.total_month-value{
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-family);
    color: var(--dark-brown);
}
.total_history-percentage{
    font-size: 1rem;
    font-family: var(--font-family);
    color: var(--dark-brown);
}